 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
<!--
                    <p>NGUYEN Dong Hai Phuong has attended Istituto Italiano di Tecnologia (<a href="https://iit.it/" style="color: rgb(1,1,1)">IIT</a>), Italy since January, 2016 as PhD Fellow and focuses on research of perceptual and sensorimotor capabilities for humanoid robotics, specially peripersonal space representation. He also holds Marie Curie Fellowship as an Early Stage Researcher.
		    </p>

                    <p>He got Master degree in Advanced Robotics (<a href="http://emaro.irccyn.ec-nantes.fr/" style="color: rgb(1,1,1)">EMARO</a>) from Ecole Centrale de Nantes, France and Universita degli Studi di Genova, Italy, where he conducted research on Control and Planning for UAV robots. </p>
-->
                <div class="col-lg-4">
                    <p>My fullname is NGUYEN Dong Hai Phuong. I have attended iCub Facility, Italian Institution of Technology (<a href="https://iit.it/" style="color: rgb(1,1,1)">IIT</a>), Italy since January, 2016 as PhD Fellow. I also hold Marie Curie Fellowship as an Early Stage Researcher.
		    </p>
                </div>
		<div class="col-lg-4">
		    <p>My research interest focus on developing the spatial perception and sensorimotor competences of humanoid robotics through self supervised learning, mimicking the baby development at very first stage. 
		    </p>
		</div>
                <div class="col-lg-4">
                    <p>I got Master degree in Advanced Robotics (<a href="http://emaro.irccyn.ec-nantes.fr/" style="color: rgb(1,1,1)">EMARO</a>) from Ecole Centrale de Nantes, France and University of Genoa, Italy, where I conducted research on Control and Planning for UAV robots. </p>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/towardthesea/towardthesea.github.io/blob/master/CV/CV_PhuongD.H.Nguyen_2017.03.pdf" class="btn btn-lg btn-outline"> 
		    <!--<a href="https://www.dropbox.com/s/4m0jsrlkmnsumva/CV_PhuongD.H.Nguyen_2017.03.pdf?dl=0" class="btn btn-lg btn-outline">-->
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
