 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>NGUYEN Dong Hai Phuong has attended Istituto Italiano di Tecnologia (<a href="https://iit.it/" style="color: rgb(1,1,1)">IIT</a>) since January, 2016 as PhD Fellow and focuses on research of perceptual and sensorimotor capabilities for humanoid robotics, specially peripersonal space representation. He also holds Marie Curie Fellowship as an Early Stage Researcher.
</p>
                </div>
                <div class="col-lg-4">
                    <p>He got Master degree in Advanced Robotics (<a href="http://emaro.irccyn.ec-nantes.fr/" style="color: rgb(1,1,1)">EMARO</a>) from Ecole Centrale de Nantes, France and Universita degli Studi di Genova, Italy, where he conducted research on Control and Planning for UAV robots. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/towardthesea/towardthesea.github.io/blob/master/CV/Short%20Bio%20Presentattion%202017.01.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
